/*HEIGHT 100%*/
/*Definição de altura html, body*/
html, body{height: 100%;}

/*Classe*/
.bloco{min-height: 100%; padding-top: 94px}
/*Logo do site--NÃO ESQUECER DE ALTERAR*/
/*Classe DE COR - ALTERAR-
TODOS OS LUGARES QUE TEM ESSA CLASSE DEVEM SER REVISTOS*/
.blue-logo{background-color: #696969;}
/*Rever tom*/
.logo_text{font-size: 0; margin: 0;}
/*Largura da classe imagem*/
/*largura e o mudar e definir o quanto a
 imagem tocará no topo do navegador*/

.logo_img{width: 100px; margin-top: 15px; }
/*Home, colocar o fundo%*/
/*Menu*/
/*O Menu ficou tranparente*/
.navbar{background-color: transparent; transition:background 0.5s linear;}
/*Remove o efeito hover do menu e deixa tranparente
 ul-a pq a lista se encontra assim*/
 /*Mudar COR-color- quando o cursor 
passar por cima das letras do menu as letras serao coloridas*/ 
.navbar ul a:hover{background-color: transparent; color: #2dc7d0; }
/*Cor do menu em outras partes do site*/
.nav-color{background-color: rgba(0,0,0,0.7); transition:background 0.5s linear;}
.home{ animation:mudarbg 20s infinite; background-image: url('../img/alone.jpg');
background-repeat: no-repeat; background-size: cover;}
/*Trasinção de "slides" animação home--Não esquecer de mudar img*/
/*Deixar as antigas*/
@keyframes mudarbg{
	40%{background-image: url("../img/fundo4.jpg");}
	80%{background-image: url("../img/fundo3.jpg");}
	100%{background-image: url("../img/alone.jpg");}
}/*Trasinção retorna para o inicio*/

/*Ajuda*/
/*back img fundo do sobre*/
.ajuda{background-image: url("../img/textura1.png");}
/*Título do bloco*/
.ajuda h2{font-size: 2rem; color:#212121;text-transform: uppercase; }
/*After insere algo depois do h2*/
/*Adiciona uma borda-Alterar cor*/
.ajuda h2:after {content: ''; display: block; width: 100px;
border-top: 1px solid  #2dc7d0; margin-top:15px auto;}
/*Aumenta o distanciamento entre linhas, justifica*/
.ajuda p{line-height: 1.8rem; text-align: justify-all;}
/*Etilização classe .motivos-como-porque*/
.ajuda .motivos_como_porque {padding: 20px 0;}
.ajuda .motivos_como_porque .icon {color:#fff; }
/*CUSTOM*/ 
/*NÃO ESQUECER ALTERAR*/
/*Altera o nav em index.html*/
/*Informações úteis*/
.sobre{background-image: url('../img/textura2.png');}
.sobre h2{font-size: 2rem; color:#fff;text-transform: uppercase; }
/*After insere algo depois do h2*/
/*Adiciona uma borda-Alterar cor*/
.sobre h2:after {content: ''; display: block; width: 100px;
border-top: 1px solid  #2dc7d0; margin-top:15px auto;}
.sobre p {color: #fff; line-height: 1.8rem; }

nav {
  color: #fff;
  background-color: #ee6e73;
  width: 100%;
  height: 94px;
  line-height: 56px;
}
/*Altera o nav  wrapper em index.html*/

nav.nav-extended .nav-wrapper {
  min-height: 94px;
  height: auto;
}
/*configurações menu fixo */ 

.navbar-fixed {
  position: absolute;
  height: 94px;
  z-index: 997;
}
/*Customiza o ícone do menu */
nav i,
nav [class^="mdi-"], nav [class*="mdi-"],
nav i.material-icons {
  display: block;
  font-size: 24px;
  height: 94px ;
  line-height: 94px;
}
/*Personalização da classe do menu móvel e colocando imagem*/
.side-nav{background: url('../img/textura.png');}
.side-nav li>a {color: #fff; font-weight: 100;}/*Personalização da classe do menu móvel*/


/*A classe banner que envolve todod o conteúdo inicial da página*/
/*Primeiro personaliz a tag h2*/
.banner h2{font-size: 2.5rem; font-weight: 900;
text-transform:uppercase;}
/*Personaliza a tag p*/
.banner p{font-size: 1.2rem; line-height:1.8rem;}

/*MEDIA-VISUALIZAÇÃO TABLET E SMARTPHONE*/
@media only screen and (min-width: 480px) {
  
}

@media only screen and (min-width: 601px) {
	.banner{padding-top: 4.5rem;}
	.banner h2{font-size: 4rem;}
	.container{width: 85%;}
}
@media only screen and (min-width: 993px) {
	.banner{padding-top: 4.5rem;}
  	.banner h2{font-size: 5rem;}
  	.container {width: 90%;}
  }



